.container {
    display: flex;
    justify-content: center;
    flex: 1;
}

.menu {
    margin-left: 15px;
    padding: 0;
    display: flex;
    justify-content: center;
    background-color: whitesmoke;
    border-radius: 3px;
    box-shadow: 10px 5px 5px grey;
}

.color {
    color: orange;
    background-color: orange;
    border-radius: 5px;
}

.list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.list > li {
    font-size: 25px;
    font-weight: 400;
    padding: 5px;
    color: black;
}

.list > li Button {
    margin-left: 10px;
}